<div class="main-container">
    <div class="user-informations">
        <form>
            <div class="two-field-container">
                <div class="field">
                    <label for="name">{{ 'public.name' | translate }}</label>
                    <input id="name" type="text" [(ngModel)]="user.name" name="name" required>
                </div>
                <div class="field">
                    <label for="surname">{{ 'public.surname' | translate }}</label>
                    <input id="surname" type="text" [(ngModel)]="user.surname" name="surname" required>
                </div>
            </div>
            <div class="two-field-container">
                <div class="field">
                    <label for="userName">{{ 'public.user-name' | translate }}</label>
                    <input id="userName" type="text" [(ngModel)]="user.name" name="userName" required>
                </div>
                <div class="field">
                    <label for="gender">{{ 'public.gender' | translate }}</label>
                    <input id="gender" type="text" [(ngModel)]="gender" name="gender" required>
                </div>
            </div>
            <div class="two-field-container">
                <div class="field">
                    <label for="email">{{ 'public.email' | translate }}</label>
                    <input id="email" type="email" [(ngModel)]="user.email" name="email" required>
                </div>
                <div class="field">
                    <label for="password">{{ 'public.password' | translate }}</label>
                    <input id="password" type="password" [(ngModel)]="user.password" name="password" required>
                </div>
            </div>
            <div class="two-field-container">
                <div class="field">
                    <button type="submit" (click)="onUpdate()">{{ 'user-page.update' | translate }}</button>
                </div>
                <div class="field">
                    <button type="submit" (click)="onDelete()">{{ 'user-page.delete' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="statistics">

    </div>
</div>
