<div class="main-container">
    <div class="three-button-container">
        <button [routerLink]="['/admin/send-mail']">E-posta Gönder</button>
        <button [routerLink]="['/admin/statistics']">İstatistikleri Gör</button>
        <button [routerLink]="['/admin/all-games']">Tüm Maçları Listele</button>
    </div>
    <div class="three-button-container">
        <button [routerLink]="['/admin/universities']">Üniversiteler</button>
        <button [routerLink]="['/admin/clubs']">Kulüpler</button>
        <button [routerLink]="['/admin/all-games']">Tüm Maçları Listele</button>
    </div>
</div>