<div class="main-container">
    <div class="title">
        {{universityName}}
    </div>
    <div class="button">
        <div class="join-button" *ngIf="!isUniPlayer">
            <button onclick="onJoinRequest()">Katıl</button>
        </div>
        <div class="see-req-button" *ngIf="isUniAdmin">
            <button [routerLink]="['/join-requests/{{universityName}}']">Katılma İsteklerine Bak</button>
        </div>  
    </div>
    <table class="players-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of universityPlayers; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ player.userName }}</td>
                <td>{{ player.totalPoint }}</td>
            </tr>
        </tbody>
    </table>
</div>