.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.chessboard {
    display: flex;
    flex-direction: column;
    width: 624px;
    aspect-ratio: 1;
}
  
.row {
    display: flex;
    flex: 1;
}
  
.cell {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #333;
}
  
.cell.light {
    background-color: #f0d9b5;
}
  
.cell.dark {
    background-color: #947256;
}

.cell.selected {
    background-color: #21a23b; /* Seçilen kutunun arka plan rengi (örneğin sarı) */
}

.cell.highlight {
    background-color: rgba(0, 102, 255, 0.5); /* Yeşil yarı saydam */
  }

.cell img {
    width: 90%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
}

.clock-and-notation {
    display: flex;
    flex-direction: column;
    border-style: outset;
    margin-left: 50px;
    margin-top: 60px;
    width: 300px;
    height: 500px;
}

.notation-container{
    width: 100%;
    height: 400px;
}

.notation {
    max-height: 400px;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.2;
}
  
.notation table {
    width: 100%;
    border-collapse: collapse;
}
  
.notation th, .notation td {
    color: white;
    border: 1px solid #ccc;
    text-align: center;
    height: auto;
    vertical-align: middle;
}
  
.notation td {
    word-wrap: break-word;
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    border-top: 3px outset #ccc;
}

.time{
    color: white;
    font-size: 70px;
}


@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        height: 100%;
    }
    .clock{
        width: 80%;
        height: 60px;
        border: 1px outset #ccc;
        margin: 10px;
        margin-left: 10%;
    }
    .time{
        color: white;
        font-size: 40px;
    }
    .chessboard {
        margin: 0;
        margin-left: 4%;
        width: 92%;
        aspect-ratio: 1;
    }
    .clock-and-notation {
        width: 92%;
        margin: 0;
        margin-top: 8%;
        margin-left: 4%;
    }
}