<div class="main-container">
    <div class="title">{{ 'main-page.message' | translate }}</div>
    <div class="buttons">
        <select class="language-selector" (change)="changeLanguage($event)">
            <option value="tr">Türkçe</option>
            <option value="en">English</option>
        </select>
        <button class="login-button" [routerLink]="['/login']">
            {{ 'public.login' | translate }}
        </button>
        <button class="sign-up-button">
            {{ 'public.sign-up' | translate }}
        </button>
    </div>
</div>
