<div class="main-container">
    <div class="logo">
        <img ngSrc="/assets/ytu-chess-robot-logo-1.png" [routerLink]="['/']" alt="Logo" height="100" width="100" priority>
    </div>   
    <div class="title">{{ 'main-page.message' | translate }}</div>
    <div class="buttons" *ngIf="!isMobile">
        <select class="language-selector" [value]="currentLanguage" (change)="changeLanguage($event)">
            <option value="tr">Türkçe</option>
            <option value="en">English</option>
        </select>
        <button class="login-button" [routerLink]="['/login']">
            {{ 'public.login' | translate }}
        </button>
        <button class="sign-up-button" [routerLink]="['/sign-up']">
            {{ 'public.sign-up' | translate }}
        </button>
    </div>
    <div class="buttons" *ngIf="isMobile">
        <menu>
        </menu>
    </div>
</div>
