<div class="main-container">
    <div class="three-button-container">
        <button [routerLink]="['/send-mail']">E-posta Gönder</button>
        <button [routerLink]="['/statistics']">İstatistikleri Gör</button>
        <button [routerLink]="['/all-games']">Tüm Maçları Listele</button>
    </div>
    <div class="three-button-container">
        <button [routerLink]="['/universities']">Üniversiteler</button>
        <button [routerLink]="['/clubs']">Kulüpler</button>
        <button [routerLink]="['/all-games']">Tüm Maçları Listele</button>
    </div>
</div>