.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3%;
}

.contact-container{
  background-color: #2e2e2e;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 30%;
}

h2{
  color: white;
  text-align: center;
  margin: 0
}
  
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
 
label {
  color: white;
  margin: 10px 0 5px;
}
  
input, select, textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

select{
  width: 100%;
}
  
input, select {
  height: 40px;
}
  
textarea {
  resize: none;
}
  
button {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
  
button:hover {
  background-color: #e67e22;
}

.error-message {
  color: #ff4d4d;
  font-size: 12px;
  margin-bottom: 10px;
}

p{
  color: white;
}

a {
  color: #6a5acd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}