<div class="main-container">
    <div class="user-container">
        <div class="user-informations">
            <form [formGroup]="updateForm">
                <div class="two-field-container">
                    <div class="field">
                        <label for="userName">{{ 'public.user-name' | translate }}:</label>
                        <input type="text" id="userName" formControlName="userName" readonly/>
                    </div>
                    <div class="field">
                        <label for="email">{{ 'public.email' | translate }}:</label>
                        <input type="email" id="email" formControlName="email" readonly/>
                    </div>
                </div>
                <div class="two-field-container">
                    <div class="field">
                        <label for="gender">{{ 'public.gender' | translate }}:</label>
                        <select id="gender" formControlName="gender" class="gender-selector">
                            <option value="male">{{ 'public.male' | translate }}</option>
                            <option value="female">{{ 'public.female' | translate }}</option>
                            <option value="doesnt-say">{{ 'public.doesnt-say' | translate }}</option>
                        </select>
                        <div class="error-message" *ngIf="updateForm.get('gender')?.touched && updateForm.get('gender')?.invalid">
                            <span *ngIf="updateForm.get('gender')?.errors?.['required']">{{ 'public.err-required' | translate }}</span>
                        </div>
                    </div>
                    <div class="field">
                        <label for="password">{{ 'user-page.new-password' | translate }}:</label>
                        <input type="password" id="password" formControlName="password"/>
                        <div class="error-message" *ngIf="updateForm.get('password')?.touched && updateForm.get('password')?.invalid">
                            <span *ngIf="updateForm.get('password')?.errors?.['required']">{{ 'public.err-required' | translate }}</span>
                            <span *ngIf="updateForm.get('password')?.errors?.['minlength']">{{ 'public.err-pass-minlength' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="two-field-container">
                    <div class="field">
                        <button type="submit" (click)="onUpdate()">{{ 'user-page.update' | translate }}</button>
                    </div>
                    <div class="field">
                        <button type="submit" (click)="onDelete()">{{ 'user-page.delete' | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="statistics">
    
        </div>
    </div>
    <div class="games-container">

    </div>
</div>
