<div class="main-container">
  <h2>İletişim Formu</h2>
  <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <label for="subject">Konu:</label>
    <select id="subject" formControlName="subject">
      <option value="" disabled selected>Seçiniz</option>
      <option *ngFor="let sub of subjects" [value]="sub">{{ sub }}</option>
    </select>
  
    <label for="email">E-posta:</label>
    <input type="email" id="email" formControlName="email" placeholder="mail@example.com" />
  
    <label for="message">Mesaj:</label>
    <textarea id="message" formControlName="message" rows="4" placeholder="Mesajınızı giriniz..."></textarea>
  
    <button type="submit">Gönder</button>
  </form>
</div>
  