<div class="main-container">
  <div class="contact-container">
    <h2>{{ 'contact-us-page.contact-form' | translate }}</h2>
    <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
      <label for="subject">{{ 'contact-us-page.subject' | translate }}:</label>
      <select id="subject" formControlName="subject">
        <option *ngFor="let sub of subjects" [value]="sub">{{ sub }}</option>
      </select>
      <div class="error-message" *ngIf="contactForm.get('subject')?.touched && contactForm.get('subject')?.invalid">
        <span *ngIf="contactForm.get('subject')?.errors?.['required']">{{ 'public.err-required' | translate }}</span>
      </div>


      <label for="email">{{ 'public.email' | translate }}:</label>
      <input type="email" id="email" formControlName="email" placeholder="*@std.yildiz.edu.tr  |  *@.yildiz.edu.tr" />
      <div class="error-message" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
        <span *ngIf="contactForm.get('email')?.errors?.['required']">{{ 'public.err-required' | translate }}</span>
        <span *ngIf="contactForm.get('email')?.errors?.['invalidEmail']">{{ 'public.err-invalid-email' | translate }}</span>
        <span *ngIf="contactForm.get('email')?.errors?.['invalidPattern']">{{ 'public.err-invalid-pattern' | translate }}</span>
      </div>

      <label for="message">{{ 'contact-us-page.message' | translate }}:</label>
      <textarea id="message" formControlName="message" rows="4"></textarea>
      <div class="error-message" *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
        <span *ngIf="contactForm.get('message')?.errors?.['required']">{{ 'public.err-required' | translate }}</span>
        <span *ngIf="contactForm.get('message')?.errors?.['minlength']">{{ 'contact-us-page.err-mess-lenght' | translate }}</span>
      </div>

      <button type="submit">{{ 'contact-us-page.send' | translate }}</button>
    </form>
  </div>
  <div class="mail-link">
    <p >{{ 'contact-us-page.direct-contact' | translate }} <a href="mailto:yildizsatranckulubu@gmail.com" target="_blank">yildizsatranckulubu&#64;gmail.com</a></p>
  </div>
</div>
  