<div class="main-container">
    <div class="clock" *ngIf="isMobile">
      <div class="time"> {{ time }} </div>
    </div>
    <div class="chessboard">
      <div *ngFor="let row of clientViewMatrix; let rowIndex = index" class="row">
        <div *ngFor="let piece of row; let colIndex = index"
          class="cell"
          [ngClass]="{
            'dark': (rowIndex + colIndex) % 2 !== 0,
            'light': (rowIndex + colIndex) % 2 === 0,
            'selected': pieceToMove.row === rowIndex && pieceToMove.col === colIndex,
            'highlight': isMovePossible(rowIndex, colIndex)
          }"
          (click)="onClick(rowIndex, colIndex)"
          (dragover)="onDragOver($event)"
          (drop)="onDrop(rowIndex, colIndex)"
        >
          <img *ngIf="piece" [src]="'/assets/' + piece + '.png'" [alt]="piece"
            [draggable]="true"
            (dragstart)="onDragStart(rowIndex, colIndex)" />
        </div>
      </div>
    </div>
    <div class="clock-and-notation">
      <div class="notation-container">
        <div class="notation">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>White</th>
                <th>Black</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let move of game.whiteMoves; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ move }}</td>
                <td>{{ game.blackMoves[i] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clock" *ngIf="!isMobile">
        <div class="time"> {{ time }} </div>
      </div>
    </div>
  </div>
  