<div class="main-container">
    <div class="three-button-container">
        <button [routerLink]="['/start-page']">Oyna</button>
        <button [routerLink]="['/user/1']">Sayfama Git</button>
        <button [routerLink]="['/all-games']">Tüm Maçları Listele</button>
    </div>
    <div class="three-button-container">
        <button [routerLink]="['/universities']">Üniversiteler</button>
        <button [routerLink]="['/clubs']">Kulüpler</button>
        <button [routerLink]="['/all-games']">Tüm Maçları Listele</button>
    </div>
</div>