<div class="main-container">
    <div class="images">
        <img ngSrc="/assets/ytu-logo-2.png" alt="" height="500" width="500" priority>
        <img ngSrc="/assets/ytu-chess-logo-1.png" alt="" height="500" width="500" priority>
    </div>
    <div class="rules-requests-container">
        <div class="rules">
            <div class="rules-title">{{ 'main-page.rules' | translate }}</div>
            <div class="rule-items">
                <p>* {{ 'main-page.rule1' | translate }}.</p>
                <p>* {{ 'main-page.rule2' | translate }}.</p>
                <p>* {{ 'main-page.rule3' | translate }}.</p>
            </div>
        </div>
        <div class="requests">
            <div class="requests-title">{{ 'main-page.asks' | translate }}</div>
            <div class="request-items">
                <p>* {{ 'main-page.request1' | translate }}.</p>
                <p>* {{ 'main-page.request2-part1' | translate }} <a href="/contact-page">{{ 'main-page.contact-page' | translate }}</a> {{ 'main-page.request2-part2' | translate }}.</p>
            </div>
        </div>
    </div>
    <div class="contributors">
        <div class="contributers-title">
            <h1 style="color: white;">{{ 'main-page.contributers' | translate }}</h1>
        </div>
        <div class="people">
            <div class="name-surname">
                <p style="color: white;">Ahmet Mahir Demirelli</p>
                <p style="color: white;">Ömer Faruk Aslan</p>
            </div>
            <div class="roles">
                <p style="color: white;">{{ 'main-page.web' | translate }} / {{ 'main-page.algorithm' | translate }}</p>
                <p style="color: white;">{{ 'main-page.web' | translate }} / {{ 'main-page.ai' | translate }}</p>
            </div>
            <div class="link">
                <p><a href="https://linktr.ee/ahmet.mahir.demirelli" target="_blank">LinkTree</a></p>
                <p><a href="https://www.linkedin.com/in/ömer-faruk-aslan-9392371b6/" target="_blank">LinkedIn</a></p>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="two-button">
            <button [routerLink]="['/best/player']">{{ 'public.best-players' | translate }}</button>
            <button [routerLink]="['/best/university']">{{ 'main-page.best-universities' | translate }}</button>
        </div>
        <div class="two-button">
            <button [routerLink]="['/start-page']">{{ 'main-page.play' | translate }}</button>
            <button [routerLink]="['/find-university-team']">{{ 'main-page.find-your-uni' | translate }}</button>
        </div>
    </div>
</div>
