<div class="main-container">
    <div class="title">
        <h1 style="color: white;">{{ 'mainpage.message' | translate }}</h1>
    </div>
    <div class="images">
        <img ngSrc="/assets/ytu-logo.png" alt="" height="500" width="500" priority>
        <img ngSrc="/assets/ytu-chess-logo.png" alt="" height="500" width="500" priority>
    </div>
    <div class="rules-requests-container">
        <div class="rules">
            <div class="rules-title">Kurallar</div>
            <div class="rule-items">
                <p>* Maç yapmak için giriş yapılmalı, hesap yoksa kayıt yapılmalıdır.</p>
                <p>* Aynı anda 1 maç yapılabilir.</p>
                <p>* 5 dakikadan uzun süre hamle yapmamak maçın iptal edilmesine yol açar.</p>
            </div>
        </div>
        <div class="requests">
            <div class="requests-title">Ricalarımız</div>
            <div class="request-items">
                <p>* Aynı anda 250 maça izin verdiğimiz için aktif olmadığınız zamanlarda çıkış yapmanız.</p>
                <p>* Önerinizi ve hata/sorun bulmanı durumunda bize <a href="/contact-page">İletişim Sayfasından</a> bildirmeniz.</p>
            </div>
        </div>
    </div>
    <div class="contributors">
        <div class="contributers-title">
            <h1 style="color: white;">Katkıda Bulunanlar</h1>
        </div>
        <div class="people">
            <div class="name-surname">
                <p style="color: white;">Ahmet Mahir Demirelli</p>
                <p style="color: white;">Ömer Faruk Aslan</p>
            </div>
            <div class="roles">
                <p style="color: white;">Web Geliştirme / Tahta Algoritması Geliştirme</p>
                <p style="color: white;">Web Geliştirme / Yapay Zeka</p>
            </div>
            <div class="link">
                <p><a href="https://linktr.ee/ahmet.mahir.demirelli">LinkTree</a></p>
                <p><a href="https://www.linkedin.com/in/ömer-faruk-aslan-9392371b6/">LinkedIn</a></p>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button [routerLink]="['/play']">Oyna</button>
    </div>
</div>
