<div class="main-container">
    <div class="welcome">
        <div class="message">
            <h1 style="color: white;">YTÜ Satranç Robotu</h1>
        </div>
        <div class="images">
            <img ngSrc="/assets/ytu-logo.png" alt="" height="500" width="500" priority>
            <img ngSrc="/assets/ytu-chess-logo.png" alt="" height="500" width="500" priority>
        </div>
    </div>
    <div class="explination">
        <p class="title">Kurallar:</p>
        <p class="item">Maç yapmak için giriş yapılmalı, hesap yoksa kayıt yapılmalıdır.</p>
        <p class="item">Aynı anda 1 maç yapılabilir.</p>
        <p class="item">5 dakikadan uzun süre hamle yapmamak maçın iptal edilmesine yol açar.</p>
        <p class="title">Rica Ettiklerimiz:</p>
        <p class="item">Aynı anda 250 maça izin verdiğimiz için aktif olmadığınız zamanlarda çıkış yapmanız.</p>
        <p class="item">Önerinizi ve hata/sorun bulmanı durumunda bize <a href="/contact-page">İletişim Sayfasından</a> bildirmenizi.</p>
    </div>
    <div class="contributors">
        <div class="contributers-title">
            <h1 style="color: white;">Katkıda Bulunanlar</h1>
        </div>
        <div class="people">
            <div class="name-surname">
                <p style="color: white;">Ahmet Mahir Demirelli</p>
                <p style="color: white;">Ömer Faruk Aslan</p>
            </div>
            <div class="roles">
                <p style="color: white;">Ana Ekip</p>
                <p style="color: white;">Ana Ekip</p>
            </div>
            <div class="link">
                <p><a href="https://linktr.ee/ahmet.mahir.demirelli">LinkTree</a></p>
                <p><a href="https://www.linkedin.com/in/ömer-faruk-aslan-9392371b6/">LinkedIn</a></p>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button [routerLink]="['/play']">Oyna</button>
    </div>
</div>
