<div class="main-container">
    <div class="play-robot-container">
        <img ngSrc="/assets/ytu-chess-robot-logo-1.png" alt="" height="450" width="450" priority>
        <div class="selectors">
            <select #colorSelector class="color-selector">
                <option value="Random">{{ 'start-page.random' | translate }}</option>
                <option value="White">{{ 'start-page.white' | translate }}</option>
                <option value="Black">{{ 'start-page.black' | translate }}</option> 
            </select>
            <select #timeSelector class="time-selector">
                <option value="one-plus-zero">1+0</option>
                <option value="two-plus-one">2+1</option>
                <option value="three-plus-zero">3+0</option>
                <option value="three-plus-two">3+2</option>
            </select>
        </div>
        <button class="start-game-button" (click)="StartGameRobot(colorSelector.value, timeSelector.value)">
            {{ 'start-page.start-game' | translate }}
        </button>
    </div>
    <div class="play-user-container">
        <img ngSrc="/assets/player-vs-player.png" alt="" height="450" width="450" priority>
        <div class="selectors">
            <select #timeSelector class="time-selector">
                <option value="one-plus-zero">1+0</option>
                <option value="two-plus-one">2+1</option>
                <option value="three-plus-zero">3+0</option>
                <option value="three-plus-two">3+2</option>
            </select>
        </div>
        <button class="start-game-button" (click)="StartGameUser(timeSelector.value)">
            {{ 'start-page.start-game' | translate }}
        </button>
    </div>
</div>
