.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #232323;  /* #030303 */
}

.images{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.images img{
    width: 40%;
    height: auto;
    aspect-ratio: 1;
}

.rules-requests-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    width: 80%;
    height: fit-content;
}

.rules, .requests{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    padding: 2%;
    border-style: solid;
    border-color: white;
}

.rules-title, .requests-title, .contributers-title{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: x-large;
    text-decoration: underline;
}

.rule-items, .request-items{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    margin-top: 2%;
    color: white;
}

.contributors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-style: solid;
    border-color: white;
    margin-top: 5%;
    width: 80%;
}

a {
    color: #db1cf2;
}

.people{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.people div{
    margin-right: 5%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.two-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-button button{
    border-radius: 10%;
    width: 200px;
    height: 70px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .images{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .images img{
        width: 50%;
    }
    .rules-requests-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        width: 95%;
        height: max-content;
    }
    .rules, .requests{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 95%;
        margin-top: 30px;
        height: 85%;
        padding: 2%;
        border-style: solid;
        border-color: white;
    }
    .contributors{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        border-style: solid;
        border-color: white;
        margin-top: 5%;
        width: 95%;
    }
    .contributers-title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: large;
    }
    .people div{
        margin: 0;
    }
    .name-surname p,
    .roles p,
    .link p{
        margin: 0;
        padding-left: 15px;
        padding-bottom: 10px;
        font-size: x-small;
    }

    .two-button button{
        border-radius: 10%;
        width: 100px;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
        cursor: pointer;
    }
}